body {
  padding-top: 25px;
  color: white;
  background-color: #252728;
  text-align: center !important;
  display: block;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  margin: 0;
  width: fit-content;
}

/* Drop-down styles */
.dropdown {
  position: relative;
  display: inline-block; /* Allows centering within flex container */
}

.dropdown-button {
  background-color: #2474c5;
  color: white;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 22pt;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  font-size: 22pt;
  position: absolute;
  background-color: #3b3d3e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  top: 100%; /* Position below the button */
  left: 50%; /* Initial horizontal centering */
  transform: translateX(-50%); /* Fine-tune horizontal centering */
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ffff96;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Main image */
.img-main {
  margin: 25px;
  /* padding-top: 25px;
  padding-bottom: 25px; */
}

.img-main img {
  border-radius: 25px;
}

/* Main Panels */
.panel {
  display: inline-block;
  background-color: #3b3d3e;
  text-align: justify;
  min-height: 100px;
  height: fit-content;
  margin: 25px;
  padding: 50px;
  border-radius: 25px;
  width: 1540px;
  font-size: 26pt;
}

.panel h1 {
  text-align: center;
  margin: 0px;
}

.panel hr {
  border-color: #252728;
}

ol > li {
  padding-bottom: 25px;
}

/* Calendar event sub-panel */
.calendar-panel {
  display: inline-block;
  background-color: #252728;
  border-radius: 15px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  width: fit-content;
  font-size: 40pt;
  font-weight: bold;
}

.calendar-month {
  border-bottom: solid;
  color: #ff7c74;
}

/* Calendar event details */
.calendar-event {
  display: block;
  float: right;
  background-color: #252728;
  border-radius: 15px;
  /* text-align: center; */
  margin: 10px;
  padding: 50px;
  width: 1250px;
}

.event-date {
  color: #ff7c74;
  font-weight: bold;
  padding-bottom: 25px;
}

.event-title {
  font-weight: bold;
  padding-bottom: 25px;
}

.event-location {
  color: cadetblue;
}

.event-address {
  padding-bottom: 25px;
}

.event-address a {
  color: cadetblue;
}

.center {
  text-align: center;
}

/* footer */
.my-footer {
  font-size: 22pt;
  padding-bottom: 25px;
}
